[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=altera
Exec=/usr/bin/google-chrome --new-tab https://alta.id/user-account
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
