[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=canva
Exec=/usr/bin/google-chrome --new-tab https://www.canva.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
