[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=chatgpt
Exec=/usr/bin/google-chrome --new-tab https://chat.openai.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
