[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=claude api
Exec=/usr/bin/google-chrome --new-tab https://console.anthropic.com/dashboard
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
