[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=claude ai
Exec=/usr/bin/google-chrome --new-tab https://claude.ai/new
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
