[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=claude dokumentasi
Exec=/usr/bin/google-chrome --new-tab https://docs.anthropic.com/en/docs/welcome
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
