[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=colab
Exec=/usr/bin/google-chrome --new-tab https://colab.research.google.com/#create=true
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
