[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=compare
Exec=/usr/bin/google-chrome --new-tab https://onlinetextcompare.com/js
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
