[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=copilot ai
Exec=/usr/bin/google-chrome --new-tab https://copilot.microsoft.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
