[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=cpanel ksap
Exec=/usr/bin/google-chrome --new-tab https://drift.extremhost.net/login_up.php
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
