[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=creatie like figma
Exec=/usr/bin/google-chrome --new-tab https://creatie.ai/files/home
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
