[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=create database
Exec=/usr/bin/google-chrome --new-tab https://app.eraser.io/dashboard/all
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
