[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=dailydev
Exec=/usr/bin/google-chrome --new-tab https://app.daily.dev/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
