[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=deepseek ai
Exec=/usr/bin/google-chrome --new-tab https://chat.deepseek.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
