[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=design
Exec=/usr/bin/google-chrome --new-tab https://penpot.app/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
