[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=discord
Exec=/usr/bin/google-chrome --new-tab https://discord.com/channels/@me
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
