[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ff store
Exec=/usr/bin/google-chrome --new-tab https://marketplace.flutterflow.io/search
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
