[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=g kalender
Exec=/usr/bin/google-chrome --new-tab https://calendar.google.com/calendar/u/0/r
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
