[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gdoc
Exec=/usr/bin/google-chrome --new-tab https://docs.google.com/document/u/0/?pli=1
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
