[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gdrive
Exec=/usr/bin/google-chrome --new-tab https://drive.google.com/drive/my-drive?hl=id
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
