[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gemini api
Exec=/usr/bin/google-chrome --new-tab https://aistudio.google.com/app/apikey
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
