[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gemini ai
Exec=/usr/bin/google-chrome --new-tab https://gemini.google.com/app
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
