[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=generate asci
Exec=/usr/bin/google-chrome --new-tab https://patorjk.com/software/taag/#p=display&h=0&v=0&c=bash&f=ANSI%20Shadow&t=Script%20custom
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
