[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=generator
Exec=/usr/bin/google-chrome --new-tab https://pinetools.com/generate-list-numbers
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
