[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=github web
Exec=/usr/bin/google-chrome --new-tab https://github.com/rezapace?tab=repositories
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
