[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=graphtd
Exec=/usr/bin/google-chrome --new-tab https://mermaid.live/edit#pako:eNp9U21v2jAQ_isnS_00QAnvRFWnNkBHWzo2YFtnEDKJC1HBzhxnKiP89zl2EoImLR8i393z3D13Ph-Rx32KHLQRJNzCrL9goL5bPI-ogCe-CdgSqtUbuMPulnpvMJVExtHSwO7SUDJixJPBb5qAiyfksKdMwkRwj0Y5ztUp-tgVlEgKM0FYlHI4ywB9najkBwP1ExjgeehnrDdJlaoZWe9oRhxoohHlwIQyP2CbBIbHXMg09lIhH08GP9T4FxolcF9KXJQ1mUBycPk-3FElYVlmPvMEPv2fOCTBrmDd685HeCaCzYYKB2JNXcVqvKuoPMuRRj7kudP5Z5EHXdmuQd7mrR739Vrc1GsweA8DcegrjgNuLETa9AewYcyZ3CbwiA26nND8r66gr6Qe1KiV_ge-Nu4nnNsOWJZjWQZltmCcbcG5aJZyrDWe3XBdiEnNBJ7zxs6DyvfmX1WSrElEzUVHxh_Fa7OiaR-RCZnIZxzk055guldiM-sLvhjwV0y1vJV_lq32pVy8KHK5ayY4xfJ836ui5gzruyzsOY7iMORCKmdZzTf8KyZMBvKQOb7jUAReruTHpdgX7JkHsCLyrBVV0J4KldRXL_aYuhdIbumeLpCjjj59JfFOLtCCnRSUxJJPD8xDjhQxrSDB480WOa9kFynLLGI_IKrjfQ4JCfvJedlEzhG9I6fa6bRrllXvtmyr3W12GvUKOiCn2aupY6_dtmyr1bJazVMF_dEJ7JrdaDUtu97s9hp2t9vsnv4CPfFrkQ
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
