[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=groq api
Exec=/usr/bin/google-chrome --new-tab https://console.groq.com/keys
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
