[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gsheet
Exec=/usr/bin/google-chrome --new-tab https://docs.google.com/spreadsheets/u/0/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
