[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=html encrypt
Exec=/usr/bin/google-chrome --new-tab https://codebeautify.org/html-encode-string#
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
