[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=huggingface llma
Exec=/usr/bin/google-chrome --new-tab https://huggingface.co/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
