[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=icon thenoun
Exec=/usr/bin/google-chrome --new-tab https://thenounproject.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
