[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=js encryp
Exec=/usr/bin/google-chrome --new-tab https://obfuscator.io/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
