[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=jsencryp2
Exec=/usr/bin/google-chrome --new-tab https://codebeautify.org/javascript-obfuscator
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
