[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=jupiter
Exec=/usr/bin/google-chrome --new-tab https://jupyter.org/try-jupyter/notebooks/?path=Untitled.ipynb
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
