[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=linkedin
Exec=/usr/bin/google-chrome --new-tab https://www.linkedin.com/in/rezahidayatrh/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
