[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=localhost
Exec=/usr/bin/google-chrome --new-tab http://localhost/phpmyadmin/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
