[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=mail temp mailorg
Exec=/usr/bin/google-chrome --new-tab https://temp-mail.org/id/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
