[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=motiff like figma use ai
Exec=/usr/bin/google-chrome --new-tab https://motiff.com/files/drafts
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
