[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=netflix
Exec=/usr/bin/google-chrome --new-tab https://www.netflix.com/browse
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
