[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=openrouter ai
Exec=/usr/bin/google-chrome --new-tab https://openrouter.ai/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
