[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=openuifly
Exec=/usr/bin/google-chrome --new-tab https://openui.fly.dev/ai/new
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
