[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=otp nomor mania
Exec=/usr/bin/google-chrome --new-tab https://app.otp-mania.com/orders
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
