[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=perplexity ai
Exec=/usr/bin/google-chrome --new-tab https://www.perplexity.ai/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
