[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=prime
Exec=/usr/bin/google-chrome --new-tab https://www.primevideo.com/region/eu/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
