[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=server unslothai
Exec=/usr/bin/google-chrome --new-tab https://unsloth.ai/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
