[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=tempalte website
Exec=/usr/bin/google-chrome --new-tab https://template.wps.com/ppt/0/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
