[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=terabox
Exec=/usr/bin/google-chrome --new-tab https://dm.terabox.com/main?category=all
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
