[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=text short
Exec=/usr/bin/google-chrome --new-tab https://codebeautify.org/sort-text-lines
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
