[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=tiktok
Exec=/usr/bin/google-chrome --new-tab https://www.tiktok.com/foryou
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
