[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=trakteer
Exec=/usr/bin/google-chrome --new-tab https://trakteer.id/manage/showcase
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
