[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=twitter
Exec=/usr/bin/google-chrome --new-tab https://twitter.com/home
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
