[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=uptext
Exec=/usr/bin/google-chrome --new-tab https://www.toptal.com/developers/hastebin
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
