[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=vclass
Exec=/usr/bin/google-chrome --new-tab https://v-class.gunadarma.ac.id/login/index.php
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
