[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=vercel
Exec=/usr/bin/google-chrome --new-tab https://vercel.com/rezas-projects-71b47fdb/morethan-log
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
