[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=wa
Exec=/usr/bin/google-chrome --new-tab https://web.whatsapp.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
