[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=webkumal
Exec=/usr/bin/google-chrome --new-tab https://webkumal.com/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
