[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=westore
Exec=/usr/bin/google-chrome --new-tab https://westore.my.id/
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
