[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=xendit
Exec=/usr/bin/google-chrome --new-tab https://dashboard.xendit.co/home
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
