[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=yt like
Exec=/usr/bin/google-chrome --new-tab https://www.youtube.com/playlist?list=LL
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
