[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=yt studio
Exec=/usr/bin/google-chrome --new-tab https://studio.youtube.com/channel/UC5jYmzIvGas23TtKLCNfs0w/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=Google-chrome
