#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Burp Suite Community Edition
Exec="/home/r/BurpSuiteCommunity/BurpSuiteCommunity" %U
MimeType=application/x-extension-burp;
Icon=/home/r/BurpSuiteCommunity/.install4j/BurpSuiteCommunity.png
Categories=Application;
StartupWMClass=install4j-burp-StartBurp
