[Desktop Entry]
Version=1.0
Type=Application
Name=Hibernate
Exec=/home/r/Documents/Backups/hibernate.sh
Icon=/path/to/restart-icon.png
Terminal=false
